.hero__wrapper {
  display: flex;
  justify-content: space-between;
}

.hero__content,
.hero__img {
  width: 50%;
}

.hero__img img {
  width: 100%;
  height: 450px;
}

.hero__content {
  padding-top: 40px;
}

.hero__content h2 {
  font-size: 3rem;
}

.hero__content p {
  margin-top: 40px;
  font-size: 1.1rem;
}

.highlight {
  color: var(--primary-color);
}

.hero__btns {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1.5rem;
}

.primary__btn,
.secondary__btn {
  padding: 0.8rem 1.5rem;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 0.2rem;
  cursor: pointer;
}

.primary__btn {
  background: var(--btn-secondary-bg);
}

.secondary__btn {
  background: var(--btn-primary-bg);
}

@media only screen and (max-width: 992px) {
  .hero__section {
    padding: 0;
  }
  .hero__content h2 {
    font-size: 2rem;
    line-height: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .hero__content h2 {
    font-size: 1.5rem;
    line-height: 45px;
  }
  .hero__content p {
    font-style: 0.9rem;
  }

  .primary__btn,
  .secondary__btn {
    font-style: 0.8rem;
  }
}

@media only screen and (max-width: 600px) {
  .hero__content,
  .hero__img {
    width: 100%;
  }

  .hero__wrapper {
    flex-direction: column;
  }
}
